title{
    color: red;
    font-family: sans-serif;
    display: block;
    text-align: center;
}
nav{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    color: black;
}
h1{
    div quienes somos{
        display: block;
        margin-left: 5px;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align: left;
    }
    div locacion{
        display: block;
        margin-right: 5px;
        margin-top: 1px;
        margin-bottom: 1px;
        text-align: right;
    }
h2{
    div{
        display: inline;
        margin-top: 2px;
        margin-left: 2px;
        margin-bottom: 2px;
        text-align: left;
    }
    div{
        display: inline;
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: center;
    }
    div{
        display: inline;
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: right;
    }
}
h3{
    div{
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 2px;
        text-align: center;
    }
    div{
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: center;
    }
    div{
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: center;
    }
    div{
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: center;
    }
    div{
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: center;
    }
    div{
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: center;
    }
    div{
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: center;
    }
    div{
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: center;
    }
}
footer{
    display: inline;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}